.header {
    background-color: rgb(15, 15, 15);
    color: white;
    border: 2px black;
    padding: 20px;
    
}
.red {
    background-color: tomato;
    color: white;
    border: 2px black;
    padding: 20px;
    text-align: right;
    
  }
  .black{
    background-color: rgb(90, 84, 84);
    color: white;
    border: 2px  black;
    padding: 20px;
    text-align: center
    
  }

  
     

  li {
    list-style-type: none;
    display: inline;
    padding: 8px;
    
    
      }

a.one{
    display: inline;
    padding: 8px;
    background-color: rgb(148, 142, 156);
}

a {
        display: inline;
        padding: 8px;
        text-decoration: none;
        
      }
      li a:hover ,a:active {
        text-decoration: underline;
        background-color: rgb(62, 65, 61);
      }
h4{
  text-align: right;
}
  #para2 {
      color: red
    
  }
  #work {
      text-decoration: underline;
      
  }
  #footer{
    background-color: plum;
    color: white;
    border: 10px  red;
    padding: 20px;
    border-top-style: solid
    
   
      
  }
  .blue {
    background-color: rgb(66, 66, 175);
    color: white;
    border: 2px  black;
    padding: 20px;
    text-align: center
  }
  
  .grey {
    background-color: grey;
    color: white;
    border: 2px  black;
    padding: 20px;
    text-align: center
    
    
  }