.header {
    
    background-color: rgb(15, 15, 15);
    color: white;
    border: 2px black;
    padding: 20px;
    
}
.red {
    background-color: tomato;
    color: white;
    border: 2px black;
    padding: 20px;
    text-align: right;
    
  }
  .black{
    height: 400px;
    background-color: rgb(90, 84, 84);
    color: white;
    border: 2px  black;
    padding: 20px;
    text-align: center
    
  }
  #footer{
    background-color: plum;
    color: white;
    border: 10px  red;
    padding: 20px;
    border-top-style: solid
      
  }
  .blue {
    height: 400px;
    background-color: rgb(66, 66, 175);
    color: white;
    border: 80px  black;
    padding: 40px;
    text-align: center
     
    
  }
  
  .grey {
    background-color: grey;
    color: white;
    border: 2px  black;
    padding: 20px;
    text-align: center
  }

  li {
    list-style-type: none;
    display: inline;
    padding: 8px;
  }
  div.gallery {
    Margin:30px;
    border: 1px ;
    float: left;
    width: 300px;
    display: inline;
    outline-width:30px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 50%;
    box-sizing:border-box;
    padding-right: 50px;
    padding-left: 10px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  
  }

a.one{
    display: inline;
    padding: 8px;
    background-color: rgb(148, 142, 156);
}

a {
        display: inline;
        padding: 8px;
        text-decoration: none;
        
      }
      li a:hover ,a:active {
        text-decoration: underline;
        background-color: rgb(62, 65, 61);
      }
h4{
  text-align: right;
}
  #para2 {
      color: red
    
  }
  #work {
      text-decoration: underline;
      
  }
  
  }
    